@font-face {
  font-family: "DMSans";
  font-weight: 400;
  src: local("DMSans-Regular"),
    url(./assets/fonts/DMSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 500;
  src: local("DMSans-Medium"),
    url(./assets/fonts/DMSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 600;
  src: local("DMSans-Bold"),
    url(./assets/fonts/DMSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "MajorMonoDisplay";
  font-weight: 400;
  src: local("MajorMonoDisplay-Regular"),
    url(./assets/fonts/MajorMonoDisplay-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
